/* TODO: Put your CSS code in here */

h1 {
  font-family: Roboto;
  font-weight: lighter;
  color: white;
}

body {
  background-color: #2D3E4E;
  text-align: center;
}

h3 {
  font-family: Roboto;
  color: white;
}

